@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;700&display=swap');

body {
  background: #efefef;
  font-family: 'Catamaran', sans-serif;
  margin: 10px 0;
}

.page-title {
  display: block;
  text-align: center;
}